<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div id="message">[[greetings]]</div>
        <div id="error"></div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            delimiters: [ '[[', ']]' ],
            data: {
                greetings: 'Hello world'
            }
        });
    </script>
</body>

</html>
