table {
    border-spacing: 0px;
}

.cell {
    width: 30px;
    height: 30px;
    text-align: center;  
    font-size: medium;  
    background-image: url(brick.svg);
    background-position: center; 
    background-repeat: no-repeat;    
    padding: 0px;    
}

.safe {
    width: 28px;
    height: 28px;
    background-image:none;
    background-color: WhiteSmoke;   
    border: lightgray solid 1px;    
}

.lost {
    background-color: red;
    background-image: url(bomb.svg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 75%;
}

.surrounded-by-1 {
    color: blue;
}
.surrounded-by-2 {
    color: green;
}
.surrounded-by-3 {
    color: red;
}
.surrounded-by-4 {
    color: darkblue;
}
.surrounded-by-5 {
    color: maroon;
}
.surrounded-by-6 {
    color: green;
}
.surrounded-by-7 {
    color: red;
}
.surrounded-by-8 {
    color: darkblue;
}
